.project {
    margin-bottom: 40px;
}

.project img {
    width: 300px;  
    border-radius: 6px;
     }

body { 
      background-color: #3d3d3d;
      color:#aeaeae;
      margin: 40px; 
      font-family: arial, sans-serif;
     }
                   

 h1,h2{
     color: #e3e3e3
    }

    .project h3{
     color: #c2c2c2;
     margin-top: 12px;
     margin-bottom: 0px;
    }

    #portfolio{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
   
     #portfolio h2{
        width: 100%;
    }
     
    .project{
        margin-bottom: 0;
        max-width: 300px;
    }

    .testimonial p{
        font-size: 16px;
        color: #b0b0b0;
    }

    .testimonial .author {
        margin-top: 10px;
        color: #9c9c9c;
        font-size: 14px;
    }

    .testimonial {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }
    .testimonial img{
        width: 65px;
        border-radius: 6px;
        margin-right:10px;
    }
    #testimonials {
        margin-top: 80px;
    }

    .testimonial {
        max-width: 700px;
    }
    .testimonial p {
        margin: 0;
    }



    #contact {
        margin-top:100px;
        max-width: 600px;
    }

    #contact a {
       display: inline-block;
       margin-top: 15px;
       color: #ffffff;
       text-decoration: none;
       background-color: 5a5a5a;
       padding: 10px 16px;
       border-radius: 6px;
    }

